<!-- <ion-header>
  <ion-navbar>
    <ion-title>Filter</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content>



  <ion-list id="filter-list">

    <ion-list-header>
      Categories
    </ion-list-header>

    <ion-item *ngFor="let filter of filters" (click)="addFilter(filter)" [ngClass]="{white: isSelected(filter), dark: !isSelected(filter)}">
      <ion-icon *ngIf="filter=='Comedy'" class="filter-icon" ios="ios-happy" md="md-happy"></ion-icon>
      <ion-icon *ngIf="filter=='Theater/Dance'" class="filter-icon" ios="ios-star-outline" md="md-star-outline"></ion-icon>
      <ion-icon *ngIf="filter=='Art/Film'" class="filter-icon" ios="ios-film" md="md-film"></ion-icon>
      <ion-icon *ngIf="filter=='Music'" class="filter-icon" ios="ios-musical-notes" md="md-musical-notes"></ion-icon>
      <ion-icon *ngIf="filter=='Sports/Recreation'" class="filter-icon" ios="ios-basketball" md="md-basketball"></ion-icon>
      <ion-icon *ngIf="filter=='Food/Drink'" class="filter-icon" ios="ios-pizza" md="md-pizza"></ion-icon>
      <ion-icon *ngIf="filter=='Games'" class="filter-icon" ios="ios-game-controller-b" md="md-game-controller-b"></ion-icon>
      <ion-icon *ngIf="filter=='Info-Session/Seminar'" class="filter-icon" ios="ios-information-circle" md="md-information-circle"></ion-icon>
      <ion-icon *ngIf="filter=='Parties/Nightlife'" class="filter-icon" ios="ios-wine" md="md-wine"></ion-icon>
      {{filter}}
      <!-- <ion-icon name='color-wand' item-left></ion-icon> -->
      <!-- <ion-note item-right>Crucio!</ion-note> -->
    </ion-item>


  </ion-list>

      <button (click)="confirm()" class="btn-blue" id="filter-confirm"> Confirm</button>
      <button (click)="cancel()" class="btn-red"> Close </button>
      <!-- <ion-icon name='color-wand' item-left></ion-icon> -->
      <!-- <ion-note item-right>Crucio!</ion-note> -->
<!--
  <ion-list>

    <ion-list-header>
      Friends
    </ion-list-header>

    <ion-item>
      <ion-icon name='flash' item-left></ion-icon>
      Harry
      <ion-note item-right>The boy who lived</ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name='book' item-left></ion-icon>
      Hermoine
      <ion-note item-right>Muggle-born</ion-note>
    </ion-item>

    <ion-item (click)="dismiss()">
      <ion-icon name='beer' item-left></ion-icon>
      Ron
      <ion-note item-right>Brilliant!</ion-note>
    </ion-item>


  </ion-list> -->



</ion-content>
