ion-slide{
  .slide-zoom {
    height: 100%;
  }
  width:100%;
}
map-page {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}

.swipe {
  background: transparent;
  height: 100%;
  width: 10%;
  z-index: 98;
  position: absolute;
  top: 50px;
  bottom: 50px;
  /* class right refers to the swipe
  right action not screen location */
}
.right {
  left: 0;
}
/* class left refers to the swipe
left action not screen location */
.left {
  right: 0;
}

.swipeup {
  background: blue;
  width: 100%;
  height: 10%;
  z-index: 99;
  position: absolute;
  bottom: 0;
}

.toolbar-background, .toolbar-background-ios {
  background-color: rgba(0, 0, 0, 1) !important;
  color: #ffffff !important;
}

#search-toolbar {
  padding:0;
}

.title, .title-ios {
  padding-left: 1em !important;
}

.toolbar-title, .toolbar-title-ios {
  color: #fff !important;
  text-align: left !important;
  padding-left: 3;
}

#search-icon{
  position: absolute;
  right: 1em;
}

#profile-icon{
  margin-right: .5em;
}

