friends-list {
  .active {
    color: #2ec95c;
  }
  .inactive {
    color: red;
  }
}

ion-content {
  background-color: #223;
  color: #fff;
  .item-md, .item-ios, .item{
    background-color: #223 !important;

    ion-icon {
      color: #fff;
    }

    p {
      color: #fff;
    }
  }

  .item-md.activated {
    background-color: #515171;
  }

  .friend-dist {
    color: #fff;
  }
}

