<ion-content>
  <ion-list>
    <h5>{{filters}}</h5>
    <button ion-item *ngFor="let friend of friends" (click)="friendTapped(friend)">
      <h5 [ngClass]="{'active': friend.available, 'inactive':!friend.available }" >
        {{friend.name}}
      </h5>
      <p *ngIf="friend.available">Active</p>
      <p *ngIf="!friend.available">Inactive</p>
      <div *ngIf="friend.available" class="friend-dist" item-right>
        {{friend.distance | number : '1.2-2'}} mi
      </div>
    </button>
  </ion-list>
  <!-- <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->
</ion-content>
