<ion-content>
  <ion-list>
    <button ion-item *ngFor="let friend of friends" >
      <ion-icon [name]="friend.icon" item-left></ion-icon>
      <h5 [ngClass]="{'active': friend.active, 'inactive':!friend.active }" >
        {{friend.name}}
      </h5>
      <p *ngIf="friend.active">Active</p>
      <p *ngIf="!friend.active">Inactive</p>
      <!--<div *ngIf="friend.active" class="friend-dist" item-right>
        {{friend.distance | number : '1.2-2'}} mi
      </div>-->
    </button>
  </ion-list>
  <!-- <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div> -->
</ion-content>
