
#friends-detail-container {
    padding: 5vw;

    button {
        color: #fff;
        border: none;
        padding: 6px 18px;
        border-radius: 45px;
        font-size: 1em;
    }

    div{
        padding-top: 3vh;
    }

    h1 {
        padding-left: 0 !important;
    }
}

.btn-blue {
    background-color: #529ECC;
}

.btn-red {
    background-color: #CF0626;
}

